@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import controllers.routes._
@import models.Mode
@import utils.FormHelpers

@(appConfig: FrontendAppConfig, form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@hiddenYesContent = {@if("$yesHiddenContent$".nonEmpty) {
    <div class="additional-option-block panel panel-border-narrow">
        <p>@messages("$className;format="decap"$.hiddenContent.yes")</p>
    </div>
}}

@hiddenNoContent = {@if("$noHiddenContent$".nonEmpty) {
    <div class="additional-option-block panel panel-border-narrow">
        <p>@messages("$className;format="decap"$.hiddenContent.no")</p>
    </div>
}}

@main_template(
    title = messages("$className;format="decap"$.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = $className$Controller.onSubmit(), 'autoComplete -> "off") {

        @components.back_link()

        @components.error_summary(form.errors)

        @components.heading("$className;format="decap"$.heading")

        @components.text("$className;format="decap"$.text")

        @components.vertical_input_radio(
            field = form("value"),
            radioOptions = Seq(
                "true" -> messages("site.yes"),
                "false" -> messages("site.no")
            ),
            radioAdditionalInfo = Map("true" -> hiddenYesContent, "false" -> hiddenNoContent),
            '_labelAfter -> true,
            '_labelClass -> "block-label",
            '_label -> messages("thresholdNextThirtyDays.heading"),
            '_legendClass -> "visually-hidden"
        )

        @components.submit_button()
    }
}
